<footer>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6 col-sm-4">
				<h3>Site</h3>
				<ul>
					<li><a href="/race">Races</a></li>
					<li><a href="/heroclasses">Classes</a></li>
					<li><a href="/">Home</a></li>
				</ul>
			</div>
			<div class="col-6 col-sm-4">
				<h3>About</h3>
				<ul>
					<li><a href="#">About me</a></li>
					<li><a href="#">Email</a></li>
					
				</ul>
			</div>
			<div class="col-6 col-sm-4">
				<h3>Job info</h3>
				<ul>
					<li><a href="#">Resume</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Certifications</a></li>
				</ul>
			</div>
			<div class="col-6 col-sm-4">
				<a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a><a
					href="#"><i class="glyphicon glyphicon-user"></i></a><a href="#"><i
					class="icon ion-social-snapchat"></i></a><a href="#"><i
					class="glyphicon glyphicon-tags"></i></a>
				<p class="copyright">Stupid Name © 2022</p>
			</div>
		</div>
	</div>
</footer>