<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<th:block th:replace="/fragments/header"></th:block>
</head>
<body>
	<div th:replace="/fragments/navbar"></div>
		<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A Twitter clone</h5>
        <p class="card-text">Full Database Authenticaiton, with certain current Twitter functionality. All Using Spring, Maven and Thymeleaf </p>
        <a href="#" class="btn btn-primary">GIT Hub Repo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Eccommerce Site</h5>
        <p class="card-text">A working e commerce site. Made with Spring, Maven, Thymeleaf and Stripe</p>
        <a href="#" class="btn btn-primary">GIT Hub Repo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">React Project</h5>
        <p class="card-text">A Project that allows you to leave messages with a user profile IE*FOURMS* non firebase backed. Made With React and React Router</p>
        <a href="#" class="btn btn-primary">GIT Hub Repo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A console Hero Adventure</h5>
        <p class="card-text">A sort of progenitor to this site. Made Using only Java Console Commands</p>
        <a href="#" class="btn btn-primary">GIT Hub Repo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
	<div th:replace="/fragments/footer"></div>
</body>
</html>
	