<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<th:block th:replace="/fragments/header"></th:block>
</head>
<body>
	<div th:replace="/fragments/navbar" text="hero.firstname"></div>
	<div class="container">
		<H1>Races</H1>
		<div class="media shadow p-3 mb-5 bg-body rounded">
			<div class="media-left media-middle ">
				<a href="#"> <img class="media-object"
					src="https://upload.wikimedia.org/wikipedia/en/c/cf/Drizzt.png"
					alt="Drow" width="400" height="400">
				</a>
			</div>
			<div class="media-body" id="Drow">
				<h1 class="media-heading">Drow</h1>
				<p class="lead">Also known as dark elves, deep elves, night elves, and the
					Dark Ones among orcs, were a dark-skinned sub-race of elves that
					predominantly lived in the Underdark. They were hated and feared
					due to their cruelty, though some non-evil and an even smaller
					number of good drow existed.</p>
				<p>
				<div class="collapse.show" id="collapseExample">
  					<div class="card card-body">
    					<h5>Racial bonuses:  Intellegence: +2, Might:+2</h5>
  					</div>
				</div>
					
			</div>
		</div>
		<div class="media shadow p-3 mb-5 bg-body rounded">
			<div class="media-left media-middle">
				<a href="#"> <img class="media-object"
					src="https://i.pinimg.com/736x/10/30/6d/10306d2c61cfd3c2386f3170ecbe3d2e.jpg"
					alt="Drow" width="400" height="400">
				</a>
			</div>
			<div class="media-body" id="Dwarf">
				<h1 class="media-heading">Dwarf</h1>
				<p class="lead">Bold and hardy, dwarves are known as skilled warriors,
					miners, and workers of stone and metal. Though they stand well
					under 5 feet tall, dwarves are so broad and compact that they can
					weigh as much as a human standing nearly two feet taller. Their
					courage and endurance are also easily a match for any of the larger
					folk. Dwarven skin ranges from deep brown to a paler hue tinged
					with red, but the most common shades are light brown or deep tan,
					like certain tones of earth. Their hair, worn long but in simple
					styles, is usually black, gray, or brown, though paler dwarves
					often have red hair. Male dwarves value their beards highly and
					groom them carefully.</p>
				<div class="collapse.show" id="collapseExample">
  					<div class="card card-body">
    					<h5>Racial bonuses:  Intellegence: +1, Might:+3</h5>
  					</div>
				</div>
					
			</div>
		</div>
		<div class="media shadow p-3 mb-5 bg-body rounded" id="Human">
			<div class="media-left media-middle">
				<a href="#"> <img class="media-object"
					src="https://www.dndbeyond.com/avatars/thumbnails/6/258/420/618/636271801914013762.png"
					alt="Drow" width="400" height="400">
				</a>
			</div>
			<div class="media-body" id="Human">
				<h1 class="media-heading">Human</h1>
				<p class="lead">With their penchant for migration and conquest, humans are
					more physically diverse than other common races. There is no
					typical human. An individual can stand from 5 feet to a little over
					6 feet tall and weigh from 125 to 250 pounds. Human skin shades
					range from nearly black to very pale, and hair colors from black to
					blond (curly, kinky, or straight); males might sport facial hair
					that is sparse or thick. A lot of humans have a dash of nonhuman
					blood, revealing hints of elf, orc, or other lineages. Humans reach
					adulthood in their late teens and rarely live even a single century
				</p>
				<div class="collapse.show" id="collapseExample">
  					<div class="card card-body">
    					<h5>Racial bonuses:  Intellegence: +2, Might:+2</h5>
  					</div>
				</div>
			</div>
		</div>
		<div class="media shadow p-3 mb-5 bg-body rounded">
			<div class="media-left media-middle">
				<a href="#"> <img class="media-object"
					src="https://sagegamers.com/ezoimgfmt/149658804.v2.pressablecdn.com/wp-content/uploads/2021/04/lorracyn__the_half_elf_ranger_by_ohheyitskaylak_deesm7m-fullview.jpg?ezimgfmt=ng%3Awebp%2Fngcb1%2Frs%3Adevice%2Frscb1-2"
					alt="Drow" width="400" height="400">
				</a>
			</div>
			<div class="media-body">
				<h1 class="media-heading">Elf</h1>
				<p class="lead">Elves, much like their living ancestors, the eladrin, who
					were also commonly called elves, were a long-lived race of the
					Tel-quessir found most commonly in forests, shrublands, and other
					wildernesses. From time to time the elves organized strong nations,
					though with far less frequency than eladrin, in some cases adopting
					even a nomadic lifestyle. Almost all elves worshiped the gods of
					the Seldarine, and the elves were generally, though not always,
					good in nature.</p>
				<div class="collapse.show" id="collapseExample">
  					<div class="card card-body">
    					<h5>Racial bonuses:  Intellegence: +3, Might:+1</h5>
  					</div>
				</div>
					
			</div>
		</div>
	</div>
	<div th:replace="/fragments/footer"></div>
</body>
</html>